<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @comment.user_name %>
</p>

<p>
  <strong>本文:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Idea:</strong>
  <%= @comment.idea_id %>
</p>

<%= link_to '編集', edit_comment_path(@comment) %> |
<%= link_to '戻る', comments_path %>
